{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@pages": "src/pages",
          "@components": "src/components",
          "@appTypes": "src/types",
          "@redux": "src/redux",
          "@utils": "src/utils"
        }
      }
    ]
  ]
}
