{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@pages": "src/pages",
          "@components": "src/components",
          "@appTypes": "src/types",
          "@redux": "src/redux",
          "@utils": "src/utils",
          "@locales": "src/locales",
          "@constants": "src/constants",
          "@handlers": "src/handlers",
          "@i18n": "src/i18n"
        }
      }
    ]
  ]
}
